@media (min-width: 768px)
    .header
        &__top-mobile
            display: none
    
@media (min-width: 320px) and (max-width: 425px)
    .navbar-brand img
        width: 86px
    .header
        position: relative            
        &__top
            display: none
        &__top-mobile
            display: block
            position: absolute
            margin-left: -12px
            margin-right: -12px